@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

/*
NAVBAR
*/

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    margin-right: auto;

}

.img-logo{
    margin-right: auto;
    cursor: pointer;
    width: 100px;
}
.nav__links{
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color:#6FD5D4
}
button {
    padding: 9px 25px;
    background-color: rgba(#6FD5D4);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0,136,169,0.7);
}

/*
INDEX page
*/

.wrapper {
    background-image: url(images/clock.png);
    height: 100vh;

}
.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: sans-serif;
}

/*
 transform: translate(-20%, 100%);
*/
.center h1{
    font-size: 65px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2{
    font-size: 50px;
    font-weight: bold;
    width: 880px;
    margin-top: 10px;
    text-align: center;
}



/* About page 
*/

.background-about{
    
}
.content{
    max-width: 1100px;
    margin: 0 auto;
    padding:  0 3rem;
    margin-top: 1rem;
    text-align: center;

}
.name {
    color: rgba(0,136,169,0.7);
    font-size:  4rem;
    font-weight: 700;
    letter-spacing: 8px;
    
    
}
.title {
    color: #777;
    font-size:  2rem;
    margin-top: 1rem;

}
.Dylan-image {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    height:min-content;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.info {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 5rem;
}



/* Services page 
*/
.Converter{
    display: flex;
    margin:0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 36px;

}
.Service_FC{
    margin:0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.container_service {
    width: 450px;
    background-color: rgb(132, 225, 143);
    padding: 70px 50x;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    box-shadow: 0 20x 25px rgba(0,0,0,0);

}
.convert{
    width: 45%;
}
input{
    width: 100%;
    height: 50;
    border-radius: 5px;
    border: 2px solid ;
    margin-top: 8px;
    padding: 0 10px;
}